.testimonial-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    width: 100%;
    height: auto;
}

.testimonial-list__title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@media screen and (min-width: 768px) {
    .testimonial-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .testimonial-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1158px) {
    .testimonial-list {
        grid-template-columns: repeat(4, 1fr);
    }
}